@import 'styles/themes/param.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header {
    box-shadow: $card-box-shadow;
    padding: 0 3rem;

    @media screen and (max-width: 736px) {
      padding: 0 1rem;
    }
  }
}
